body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #222;
  max-width: 750px;
  margin: auto;
  line-height: 1.6;
  padding: 2rem;
  text-align: center;
}

h1, h2, h3 {
  color: #004c99;
  margin-top: 2rem;
}

a {
  color: #007acc;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 150px;
  border-radius: 50%;
}

nav {
  margin-bottom: 2rem;
}
